.btn-container {
  height: var(--card-height);
  border: var(--card-border-width) var(--card-border-style) var(--card-border-color);
  border-radius: var(--card-radius);

  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  display: flex;
  padding: var(--padding);

  font-size: 1rem;
  justify-content: space-between
}

.btn-icon {
  align-self: end;
  border: 1px solid red;
}